@model AdData.Models.Ad

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Ad</h4>
<hr />


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <div class="form-group" role="textbox" multiline="true" max-height="1050px" data-role="editable" style="width: 100%; margin-bottom: 5px; margin-top: 8px; overflow: auto">
                    <textarea id="descriptionTextArea" type="text" asp-for="Description" class="form-control" placeholder="Add a Comment ..." style="display: inline;">
    
                    </textarea>
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Category.CategoryName" class="control-label"></label>
            <input asp-for="Category.CategoryName" class="form-control" />
            <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="User.Username" class="control-label"></label>
            <input asp-for="User.Username" class="form-control" />
            <span asp-validation-for="User.Username" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="CategoryIdVal" class="control-label">Category</label>
                <select asp-for="CategoryIdVal" class="form-control" asp-items="ViewBag.Categories">Categorie</select>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input class="form-control-file" asp-for="Image" type="file" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="UserIdVal" class="control-label"></label>
                <select asp-for="UserIdVal" class="form-control" asp-items="ViewBag.Users"></select>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

